<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMunicipalityandProperty1">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://hishams2.middleeast.corp.microsoft.com/MOICT.Service.MOF/MunicipalityandPropertySrv.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMunicipalityandProperty1"
                contract="ServiceReference2.IMunicipalityandProperty" name="WSHttpBinding_IMunicipalityandProperty1" />
        </client>
    </system.serviceModel>
</configuration>